<!doctype html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>{% block title %} {% endblock %}</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'img/cerberus.png') }}">
  <link href="{{ url_for('static', filename= 'external_modules/front/bootstrap.min.css') }}" rel='stylesheet'>
  <link href="{{ url_for('static', filename= 'external_modules/front/boxicons-2.1.4/css/boxicons.min.css') }}"
    rel='stylesheet'>
  <link href="{{ url_for('static', filename= 'external_modules/front/fontawesome/css/all.min.css') }}"
    rel='stylesheet'>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'styles/style_core.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'styles/uploads_drop.css') }}">

  <script type="text/javascript"
    src="{{url_for('static', filename='external_modules/front/jquery-3.7.0.js')}}"></script>

  {% block styles %} {% endblock %}
</head>

<body id="body-pd" className='snippet-body' onload="project()">

  <!-- Mensajes flash -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="col-lg-8 col-md-10 mx-auto content fixed-top">
    {% for category, message in messages %}

    <div class="alert alert-{{ category }} mt-3 alert-dismissible">
      {% if category == 'success' %}
      <img src="{{ url_for('static',filename='img/flash/success.svg') }}" alt="">
      {% elif category == 'warning' %}
      <img src="{{ url_for('static',filename='img/flash/warning.svg') }}" alt="">
      {% elif category == 'danger' %}
      <img src="{{ url_for('static',filename='img/flash/danger.svg') }}" alt="">
      {% else %}
      {{category}}
      {% endif %}

      <!-- <i class='bx bx-error-alt'></i> -->
      - {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

  <!-- Barra superior -->
  <header class="header" id="header">
    <div class="header_toggle">
      <i class='bx bx-chevron-left' ></i>
      <i class='bx bx-menu' id="header-toggle" style="color: var(--white-color);"></i>
    </div>

    <div class="header_user">
      <!-- Opciones para los proyectos -->
      <label for="projects">Project:</label>
      <select id="projects" name="p" onchange="redirigir(this.value)">
        <option value="" selected="true" disabled>Select project</option>
        {% for project in projects %}
        <option value="{{ project }}">{{ project}}</option>
        {% endfor %}
        <option value="new" class="new">+ New Project</option>
      </select>
      <!-- Fin opciones para los proyectos (+ Script base) -->
    </div>

    <div class="header_user d-flex justify-content-between">

      <!-- Contenedores -->
      <div class="containersHeader me-4">
        <span id="connectionsSpan" style="cursor: pointer;">Connections</span>
        <i class='bx bx-sitemap' id="connectionsIcon" style="cursor: pointer;"></i>
      </div>

      <!-- <img src="https://i.imgur.com/hczKIze.jpg" alt=""> -->
      {% if g.user %}

      <span>{{ g.user['username'] }} </span>
      <span> </span>
      <!-- <button id="openPopupButton2"></button> -->
      <i class='bx bxs-cog' id="openPopupSettings"></i>
      {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </div>
  </header>
  <!-- Fin barra superior -->

  <!-- Barra lateral izquierda -->
  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div>
        <a href="{{url_for('core.dashboard')}}" class="nav_logo">
          <img src="{{ url_for('static', filename= 'img/cerberus.png') }}" alt="Tu Icono Personalizado"
            class="nav_logo-icon" style="width: 40px; position: absolute;
                left: 15px;"><span class="nav_logo-name" style="margin-left: 50px;">Cerberus</span>
        </a>
        <div class="nav_list">
          <a href="{{url_for('core.dashboard')}}" class="nav_link tool-container {% if title =='Dashboard' %}selected{%
            endif %}">
            <i class='bx bx-grid-alt nav_icon' title="Dashboard"></i>
            <span class="nav_name">Dashboard</span>
          </a>
          
          {% if writePermission %}
          <a href="{{url_for('core.import_data')}}" title="Import" class="nav_link {% if title =='Import data' %}selected{%
            endif %}">
            <i class='bx bx-upload nav_icon'></i>
            <span class="nav_name">Import</span>
          </a>
          {% else %}
          <a href="#" title="Import" class="nav_link {% if title =='Import data' %}selected{%
            endif %}" style="cursor: not-allowed;">
            <i class='bx bx-upload nav_icon text-secondary'></i>
            <span class="nav_name">Import</span>
          </a>
          {% endif %}

          <a href="{{url_for('core.graph')}}" title="Graph" class="nav_link {% if title =='Graph' %}selected{% endif
            %}">
            <i class='bx bxl-graphql nav_icon nav_icon'></i>
            <span class="nav_name">Graph</span>
          </a>
          <a href="{{url_for('core.command_generation')}}" title="Command generation" class="nav_link {% if title =='Command generation' %}selected{% endif
            %}">
            <i class='bx bxs-terminal nav_icon'></i>
            <span class="nav_name">Command generation</span>
          </a>
          <a href="{{url_for('core.technologies')}}" title="Technologies" class="nav_link {% if title =='Technologies' %}selected{% endif
            %}">
            <i class="fa-solid fa-microchip nav_icon"></i>
            <span class="nav_name">Technologies</span>
          </a>

        
          <!-- Data Selector-->
          <a id="id_data" title="Data" class="nav_link {% if title in ['Credentials','Local Users', 'Domain Users'
            , 'Tickets' , 'Machines' ] %}selected{% endif %}" style="cursor: pointer;">
            <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
            <span class="nav_name">Credentials  <i id="data-arrow" class="fa-solid fa-caret-down"></i></span>
          </a>

          <!-- Subenlaces -->
          <!-- <li  class="nav_link"> -->
          <div class="hideSubLink hideSubLinkData" style="display: none;">
            <a href="/info?t=machines" class="nav_link sublink {% if title =='Machines' %}selected{% endif %}">
              <i class='bx bx-server nav_icon'></i>
              <span class="nav_name">Machines</span>
            </a>
            <!-- </li> -->
            <a href="/info?t=credentials" class="nav_link sublink {% if title =='Credentials' %}selected{% endif %}">
              <i class='bx bx-key nav_icon'></i>
              <span class="nav_name">Passwords</span>
            </a>
            <a href="/info?t=tickets" class="nav_link sublink {% if title =='Tickets' %}selected{% endif %}">
              <i class='bx bxs-coupon nav_icon'></i>
              <span class="nav_name">Tickets</span>
            </a>
            <a href="/info?t=domainusers" class="nav_link sublink {% if title =='Domain Users' %}selected{% endif %}">
              <i class='bx bxs-user nav_icon'></i>
              <span class="nav_name">Domain Users</span>
            </a>
            <a href="/info?t=localusers" class="nav_link sublink {% if title =='Local Users' %}selected{% endif %}">
              <i class='bx bx-user nav_icon'></i>
              <span class="nav_name">Local Users</span>
            </a>
          </div>
          <!-- Fin Data Selector-->

          <!-- Vulnerabilities Selector-->
          <a id="id_vulnerabilities" title="Vulnerabilities" class="nav_link {% if title in ['Web','Services'] %}selected{% endif %}" style="cursor: pointer; ">
            <i class="fa-solid fa-bug nav_icon"></i>
            <span class="nav_name">Vulnerabilities  <i id="vuln-arrow" class="fa-solid fa-caret-down"></i></span>
          </a>

          <!-- Subenlaces -->
          <!-- <li  class="nav_link"> -->
          <div class="hideSubLink hideSubLinkVuln" style="display: none;">

            <a href="{{url_for('core.vuln_web_technologies')}}" title="Web" class="nav_link sublink {% if title =='Web' %}selected{% endif
              %}">
              
              <i class="fa-solid fa-globe nav_icon"></i>
              <span class="nav_name">Web</span>
            </a>
            
            <a href="{{url_for('core.vuln_services')}}" title="Services" class="nav_link sublink {% if title =='Services' %}selected{% endif
              %}">
              
              <i class="fa-solid fa-ethernet nav_icon"></i> 
              <span class="nav_name">Services</span>
            </a>

          </div>
          <!-- Fin Vulnerabilities Selector-->

        </div>
      </div>
      <!-- <img src="logo-b-05.png" alt="Tu Icono Personalizado" class="nav_icon" style="background-color: white;"> -->
      <a href="#" class="nav_link">
        <img src="{{ url_for('static', filename= 'img/favicon.png') }}" alt="Tu Icono Personalizado" id="logo_inf_izq"
          class="nav_icon">
        <img src="{{ url_for('static', filename= 'img/logo-b-05.png') }}" id="logo_inf_der" alt="Tu Icono Personalizado"
          class="nav_name"> </a>
    </nav>
  </div>

  <!-- Barra lateral derecha -->
  <div class="right-nav-container">
    <nav id="right-nav" class="right-nav-hide">
      <h4 style="text-align: center;">Neo4j connections</h2>
      <ul id="containersList">
        <li>
          <div class="connectionContainer rounded d-flex justify-content-between p-2" style="position: relative;">
            <div class="d-flex">
              <div class="d-flex justify-content-center align-middle" style="align-items: center; width: 25px;">
                <div class="active-indicator"></div>
                <div class="active-indicator-behind"></div>
              </div>
              <p class="connectionContainerText ms-3" style="text-align: start;">Contenedor 1</p>
            </div>
            <div class="d-flex justify-content-end align-middle" style="align-items: center;">
              <div class="col-md-9 d-flex me-3">
                <i class='bx bx-play connectionContainerDisabledButton' style="font-size: 25px;"></i>
                <i class='bx bx-pause connectionContainerEnabledButton' style="font-size: 25px;"></i>
                <i class='bx bx-revision' style="font-size: 25px;"></i>
              </div>
              <div class="col-md-3 d-flex align-middle">
                <i class='bx bx-trash' style="font-size: 25px;"></i>
              </div>
            </div>
          </div>
        </li>
        
        <li>
          <div class="connectionContainer rounded d-flex justify-content-between p-2" style="position: relative;">
            <div class="d-flex">
              <div class="d-flex justify-content-center align-middle" style="align-items: center; width: 25px;">
                <div class="dead-indicator"></div>
              </div>
              <p class="connectionContainerText ms-3" style="text-align: start;">Sin</p>
            </div>
            <div class="d-flex justify-content-end align-middle" style="align-items: center;">
              <div class="col-md-9 d-flex me-3">
                <i class='bx bx-play connectionContainerDisabledButton' style="font-size: 25px;"></i>
                <i class='bx bx-pause connectionContainerEnabledButton' style="font-size: 25px;"></i>
                <i class='bx bx-revision' style="font-size: 25px;"></i>
              </div>
              <div class="col-md-3 d-flex align-middle">
                <i class='bx bx-trash' style="font-size: 25px;"></i>
              </div>
            </div>
          </div>
        </li>
      </ul>
      
      
      <h4 class="mt-5" style="text-align: center;">Connections to create</h2>
      <ul id="containersToCreateList">
        <li>
          <div class="connectionContainer rounded d-flex justify-content-between p-2" style="position: relative;">
            <div class="d-flex">
              <div class="d-flex justify-content-center align-middle" style="align-items: center; width: 25px;">
                <div class="active-indicator"></div>
                <div class="active-indicator-behind"></div>
              </div>
              <p class="connectionContainerText ms-3" style="text-align: start;">Contenedor 1</p>
            </div>
            <div class="d-flex justify-content-end align-middle" style="align-items: center;">
              <div class="col-md-9 d-flex me-3">
                <i class='bx bx-play connectionContainerDisabledButton' style="font-size: 25px;"></i>
                <i class='bx bx-pause connectionContainerEnabledButton' style="font-size: 25px;"></i>
                <i class='bx bx-revision' style="font-size: 25px;"></i>
              </div>
              <div class="col-md-3 d-flex align-middle">
                <i class='bx bx-trash' style="font-size: 25px;"></i>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="connectionContainer rounded d-flex justify-content-between p-2" style="position: relative;">
            <div class="d-flex">
              <div class="d-flex justify-content-center align-middle" style="align-items: center; width: 25px;">
                <div class="dead-indicator"></div>
              </div>
              <p class="connectionContainerText ms-3" style="text-align: start;">Sin</p>
            </div>
            <div class="d-flex justify-content-end align-middle" style="align-items: center;">
              <div class="col-md-9 d-flex me-3">
                <i class='bx bx-play connectionContainerDisabledButton' style="font-size: 25px;"></i>
                <i class='bx bx-pause connectionContainerEnabledButton' style="font-size: 25px;"></i>
                <i class='bx bx-revision' style="font-size: 25px;"></i>
              </div>
              <div class="col-md-3 d-flex align-middle">
                <i class='bx bx-trash' style="font-size: 25px;"></i>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Fin barra superior -->

  <!--Container Main start-->
  <div class="main-container">
    <!-- LOADER -->

    <span id="loader">
      <div class="cube">
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
        <div class="side"></div>
      </div>
    </span>
    <script>
      document.onreadystatechange = function () {
        if (document.readyState == "complete") {
          document.querySelector(
            "#loader").style.display = "none";
          // Animacion de carga en todos los forms
          var forms = document.querySelectorAll('form');

          forms.forEach(function (form) {
            // console.log(form)
            form.addEventListener('submit', function (e) {
              e.preventDefault();

              document.querySelector("#loader").style.display = "flex";
              // spinner.style.display = 'flex';
              form.submit();
            })
          })
        }
      };
    </script>
    <!-- FIN LOADER -->
    {% block content %} {% endblock %}

  </div>
  <!--Container Main end-->


  <script type='text/javascript'
    src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
  <!-- <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script>
    <script type='text/javascript' src='#'></script> -->

  <!-- Codigo menu de opciones -->
  {% if g.user %}
  <div id="options_menu" class="settings_menu dropdown-menu shadow animated--grow-in">
    {% if g.user['admin']%}
    <a class="dropdown-item" href="{{url_for('admin.index')}}"><i class='bx bx-diamond'></i> ADMIN</a>
    <!-- <a class="dropdown-item"><i class='bx bx-cog'></i> Manage project</a> -->
    <hr>
    {% endif %}

    <a class="dropdown-item" href="{{ url_for('auth.resetpass') }}">
      <i class='bx bx-lock-open'></i>
      Change your password
    </a>
    <!-- <a class="dropdown-item" id="openNeo4jSettings">
      <i class='bx bx-data'></i>
      Neo4j settings
    </a> -->
    <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
      <i class='bx bx-log-out'></i>
      Log out
    </a>
  </div>

    {% endif %}

    <!-- codigo del POPUP de new project -->
    <!-- <button id="openPopupButton">Open Pop-up</button> -->
    <div id="popupContainer" class="popup">
      <span id="closePopupButton" class="close-button">&times;</span>
      <p class="popuptitle">Create new project</p>
      <div class="popup-content">


        <form action="/projects/new/" method="POST">
          <div class="box1">
            <label for="project">Project:</label>
            <br>
            <input type="text" id="project" name="project" required placeholder="Name of project">
          </div>
          <br>

          <button class="popupbtn" type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="overlay"></div>
    <div class="overlay_trasparente"></div>

    <!-- FIN codigo del POPUP de new project -->

    <!-- codigo del POPUP de settings -->
    <div id="settingsNeo4jPopup" class="popup">
      <span id="closeSettingsPopup2" class="close-button">&times;</span>
      <p class="popuptitle">Settings</p>
      <div class="popup-content">
        <form action="/settings" method="POST">
          <div class="box1">
            <label>URL:</label>
            <br>
            {% if g.user['neo4j_url'] %}
            <input type="text" id="url" name="url" placeholder="{{g.user['neo4j_url']}}"
              value="{{g.user['neo4j_url']}}">
            {% else %}
            <input type="text" id="url" name="url" placeholder="database url">
            {% endif %}
          </div>
          <div class="box1">
            <label>User:</label>
            <br>
            {% if g.user['neo4j_user'] %}
            <input type="text" id="user" name="user" placeholder="{{g.user['neo4j_user']}}"
              value="{{g.user['neo4j_user']}}">
            {% else %}
            <input type="text" id="user" name="user" placeholder="user">
            {% endif %}
          </div>
          <div class="box1">
            <label for="project">Password:</label>
            <br>
            {% if g.user['neo4j_password'] %}
            <input type="password" id="password" name="password" placeholder="********">
            {% else %}
            <input type="password" id="password" name="password" placeholder="password">
            {% endif %}
          </div>
          <br>

          <button class="popupbtn" type="submit">Save</button>
        </form>
      </div>
    </div>
    <!-- FIN POPUP settings -->

    <script src="{{ url_for('static', filename= 'scripts/popup.js') }}"></script>

    <script src="{{ url_for('static', filename= 'scripts/base_js.js') }}"></script>
    {% block scripts %} {% endblock %}

</body>

<script>

  const onConnectionsClick = () => {

    // Variables necesarias
    const rightNavbar = document.getElementById("right-nav");
    const connectionsIcon = document.getElementById("connectionsIcon");
    
    // Si estamos mostrando las conexiones en vez de esconderlas obtenemos la lista de contenedores del back
    if(connectionsIcon.classList.contains("bx-sitemap")){
      
      $.get("/containers/get", (data) => {

        // Variables necesarias
        const activeContainerDot = `
          <div class="active-indicator"></div>
          <div class="active-indicator-behind"></div>
        `;
        const deadContainerDot = `<div class="dead-indicator"></div>`;

        var containersListContent = "";
        var containersToCreateListContent = "";

        // Recorremos la lista de contenedores obtenida y los vamos insertando en su correspondiente string
        for(let i = 0; i < data.length; i++){

          var newElement = `
            <li>
              <div class="connectionContainer rounded d-flex justify-content-between p-2" style="position: relative;">
                <div class="d-flex">
                  <div class="d-flex justify-content-center align-middle" style="align-items: center; width: 25px;">
                    ${data[i]["containerIsActive"] ? activeContainerDot : deadContainerDot}
                  </div>
                  <p class="connectionContainerText ms-3" style="text-align: start;">${data[i]["containerName"]}</p>
                </div>
                <div class="d-flex justify-content-end align-middle" style="align-items: center;">
                  <div class="col-md-9 d-flex me-3">
                    ${
                      data[i]["containerIsActive"] ? 
                        "<i class='bx bx-play connectionContainerDisabledButton' style='font-size: 25px;'></i></button></form>"
                      : 
                        "<form action='/containers/start/" + data[i]["containerName"] + "' method='GET'><button type='submit' style='border: none; background: none; padding: 0;'>" +
                        "<i class='bx bx-play connectionContainerEnabledButton' style='font-size: 25px;'></i></button></form>"
                    }
                    ${
                      data[i]["containerIsActive"] ?
                        "<form action='/containers/stop/" + data[i]["containerName"] + "' method='GET'><button type='submit' style='border: none; background: none; padding: 0;'>" +
                        "<i class='bx bx-pause connectionContainerEnabledButton' style='font-size: 25px;'></i></button></form>"
                      :
                        "<i class='bx bx-pause connectionContainerDisabledButton' style='font-size: 25px;'></i>"
                    }
                    ${
                      data[i]["containerIsActive"] ?
                        "<form action='/containers/restart/" + data[i]["containerName"] + "' method='GET'><button type='submit' style='border: none; background: none; padding: 0;'>" +
                        "<i class='bx bx-revision connectionContainerEnabledButton' style='font-size: 25px;'></i></button></form>"
                      :
                        "<i class='bx bx-revision connectionContainerDisabledButton' style='font-size: 25px;'></i>"
                    }
                  </div>
                  <div class="col-md-3 d-flex align-middle">
                    ${
                      !data[i]["containerIsActive"] && data[i]["userHasOwnerPermissions"] === 1 ?
                        "<form action='/containers/delete/" + data[i]["containerName"] + "' method='GET'><button type='submit' style='border: none; background: none; padding: 0;'>" +
                        "<i class='bx bx-trash connectionContainerEnabledButton' style='font-size: 25px;'></i></button></form>"
                      :
                        "<i class='bx bx-trash connectionContainerDisabledButton' style='font-size: 25px;'></i>"
                    }
                  </div>
                </div>
              </div>
            </li>
          `;

          if(data[i]["containerIsCreated"])
            containersListContent += newElement;
          else
            containersToCreateListContent += newElement;

        }

        // Agregamos el contenido a las listas
        document.getElementById("containersList").innerHTML = containersListContent;
        document.getElementById("containersToCreateList").innerHTML = containersToCreateListContent;

      })
      
    }
    
    // Mostramos el navbar derecho
    rightNavbar.classList.toggle("right-nav-show");
    rightNavbar.classList.toggle("right-nav-hide");

    // Cambiamos el icono de las conexiones
    connectionsIcon.classList.toggle("bx-sitemap");
    connectionsIcon.classList.toggle("bx-x");  

  }

  document.getElementById("connectionsSpan").addEventListener("click", onConnectionsClick);
  document.getElementById("connectionsIcon").addEventListener("click", onConnectionsClick);

</script>

</html>