<!-- <form method="post">
    <label for="pass0">Current password</label>
    <input type="password" name="pass0" id="pass0" required>
    <label for="pass1">New password</label>
    <input type="password" name="pass1" id="pass1" required>
    <label for="pass2">Confirm password</label>
    <input type="password" name="pass2" id="pass2" required>
    <input type="submit" value="Register">
  </form> -->

<html lang="en">

<head>

  <meta charset="UTF-8">

  <title>Change password - cerberus</title>

  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"> -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'img/cerberus.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'styles/login.css') }}">

</head>

<body> <!-- partial:index.partial.html -->

  <section> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span>
    <span></span> <span></span> <span></span> <span></span> <span></span>

    <div class="signin">

      <div class="content">

        <h2>Change password</h2>

        <div class="card-container">

          <div class="image-container">
            <img src="{{ url_for('static', filename= 'img/cerberus.png') }}" alt="Cerberus logo" height="80%">
          </div>

          <form class="form" method="post">

            <div class="inputBox">

              <input id="pass0" name="pass0" type="password" required> <i>Current password</i>

            </div>

            <div class="inputBox">

              <input id="pass1" name="pass1" type="password" required> <i>New password</i>

            </div>

            <div class="inputBox">

              <input id="pass2" name="pass2" type="password" required> <i>Confirm password</i>

            </div>

            <div class="inputBox">

              <input type="submit" value="Change password">

            </div>

          </form>

        </div>

      </div>

    </div>

  </section> <!-- partial -->

</body>

</html>