{% extends 'core/tables/tabla_template.html' %}
{% block title %}{{title}}{% endblock %}
{% block titulo_h1 %}{{title}}{% endblock %}


{% block botones %}
<div class="btn-group botones-superiores-container" role="group" aria-label="...">
    <button type="button" id="newpass" class="btn">Add password</button>
    <button type="button" id="hashcat" class="btn">Import from hashcat</button>
</div>

{% endblock %}


{% block filas %}
{% for row in rows %}
<tr>
    <td class="medium">{{row[0].plain}}</td>
    <td class="large">{{row[0].ntlm}}</td>
    <td class="short">{{row[1]}}</td>
    <td class="short">{{row[2]}}</td>
    <td class="medium">{{row[0].date}}</td>

</tr>
{% endfor %}
{% endblock %}

{% block popups %}
<!-- codigo del POPUP de new_pass -->
<div id="credPopup" class="popup">
    <span id="closeCredPopup" class="close-button button-popup-close">&times;</span>
    <p class="popuptitle">New password</p>
    <div class="popup-content">
        <form action="{{url_for('core.new_cred')}}" method="POST">
            <div class="box1">
                <label>Password:</label>
                <br>
                <input type="text" name="password" placeholder="Password" required>
            </div>
            <br>
            <button class="popupbtn" type="submit">Add</button>
        </form>
    </div>
</div>
<!-- FIN POPUP new_pass -->
<!-- codigo del POPUP de new_pass -->
<div id="credPopup2" class="popup">
    <span class="close-button button-popup-close">&times;</span>
    <p class="popuptitle">Import from hashcat output</p>
    <div class="popup-content" style="width: auto; text-align: center;">
        <form action="{{url_for('core.hashcat_page')}}" method="POST" enctype="multipart/form-data">
            <div class="box1">
                <!-- <label>File:</label> -->
                <br>
                <!-- <input class="w-75" type="file" name="dataFile" required> -->
                <!-- File upload -->
                <div class="container-import">
                    <input type="file" id="dataFileHashcat" name="dataFile" hidden>
                    <label for="dataFileHashcat" class="drop-area">
                        <div class="drop-area-view" id="drop-area-hashcat">
                            <img src="{{ url_for('static', filename= 'img/upload.svg') }}">
                            <p>Drag and drop or click here<br>to upload the file</p>
                            <span class="drop-area-span-file" id="drop-area-span-file-hashcat"></span>
                        </div>
                    </label>
                </div>
                <script>
                    // Hashcat
                    var dropArea = document.getElementById("drop-area-hashcat");
                    var inputFile = document.getElementById("dataFileHashcat");
                    var spanFile = document.getElementById("drop-area-span-file-hashcat");

                    inputFile.addEventListener("change", function () {
                        if (inputFile.files.length > 1) {
                            spanFile.textContent = inputFile.files.length + " files selected";
                        } else {
                            spanFile.textContent = inputFile.files[0].name;

                        }
                    });

                    dropArea.addEventListener("dragover", function (e) {
                        e.preventDefault();
                        dropArea.addEventListener("drop", function (e) {
                            e.preventDefault();
                            inputFile.files = e.dataTransfer.files;
                            if (inputFile.files.length > 1) {
                                spanFile.textContent = inputFile.files.length + " files selected";
                            } else {
                                spanFile.textContent = inputFile.files[0].name;

                            }

                        });
                    });
                </script>
            </div>
            <br>
            <button class="popupbtn" type="submit">Import</button>
        </form>
    </div>
</div>
<!-- FIN POPUP new_pass -->

<script>
    // New cred
    const popupContainerCreds = document.getElementById('credPopup');
    const openCredPopupButton = document.getElementById('newpass');
    openCredPopupButton.addEventListener('click', () => {
        popupContainerCreds.style.display = 'block';
        overlay.style.display = 'block';
    });

    // Hashcat
    const popupContainerCreds2 = document.getElementById('credPopup2');
    const openCredPopupButton2 = document.getElementById('hashcat');
    openCredPopupButton2.addEventListener('click', () => {
        popupContainerCreds2.style.display = 'block';
        overlay.style.display = 'block';
    });

</script>
{% endblock %}